body {

    background: rgba(14, 13, 13, 0.774);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

main {
    padding: 20px 0;
    margin-top: 40px;
}

h1,
h2,
h3 {
    color: white;
}

section {
    overflow: hidden;
    margin-bottom: 20px;
}

.main-col {
    float: left;
    width: 70%;
    /* display: flex;
    align-items: center; */
}

.main-col input,
label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 40%;
}

.main-col input[type="text"],
input[type="email"] {
    background:  rgb(202, 199, 199);
    border: none;
    border-radius: 2px;
    outline: none;
}

.main-col textarea {
    background: rgb(202, 199, 199);
    border: none;
    border-radius: 2px;
    outline: none;
    width: 40%;
}

.main-col label {
    margin-top: 20px;
    font-size: 18px;
}

.main-col input[type="submit"] {
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    width: 100px;
    background: linear-gradient(100deg, blue, gray);
    color: black;
    border: none;
    border-radius: 2px;
}

.main-col input[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background: linear-gradient(100deg, green, blue);
}

aside {
    margin-top: 10px;
    float: left;
    width: 30%;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

section h2 {
    /* margin: 0; */
    color: #524e3d;
}


@media(max-width:768px) {
    .main-col {
        width: 70%;
    }

    .main-col input,
    label {
        width: 100%;
    }

    .main-col textarea {
        width: 100%;
    }

    aside {
        width: 80%;
    }
}
@media(max-width:480px){
.main-col{
height:415px;
/* height: 100%; */
margin-bottom: 0;
}
}